!!!
%html
  %head
    %link{rel: :stylesheet, type: "text/css", media: :screen, href: "/bootstrap_dist/css/bootstrap.min.css"}
  %body
    .container
      .page-header
        %h1 Poho's Pinball
      = yield