!!!
%html
  %head
    %link{rel: :stylesheet, type: "text/css", media: :screen, href: "/bootstrap_dist/css/bootstrap.min.css"}
    %link{rel: :stylesheet, type: "text/css", media: :screen, href: "/jquery_ui/jquery-ui.min.css"}
    %link{rel: :stylesheet, type: "text/css", media: :screen, href: "/css/main.css"}
    %script{type: "text/javascript", src: "/js/jquery-1.11.2.min.js"}
    %script{type: "text/javascript", src: "/jquery_ui/jquery-ui.min.js"}
    %script{type: "text/javascript", src: "/bootstrap_dist/js/bootstrap.min.js"}
    %script{type: "text/javascript", src: "/js/pinball.js"}
    %script{type: "text/javascript", src: "/js/switches.js"}
    %script{type: "text/javascript", src: "/js/lamps.js"}
    :javascript
      jQuery(function($){
        Pinball.startup();
      })
  %body
    .container
      %nav.navbar.navbar-default
        .container
          .navbar-header
            %a.navbar-brand{href: '/'}
              Poho Pinball
              
      = yield