table.lamps tr td{
  border: 1px solid;
  width: 50px;
  text-align: center;
}
table.switches tr td{
  border: 1px solid;
  width: 50px;
  text-align: center;
}

table.switches tr td.switch-on{
  background-color: lightblue;
}
table.switches tr td.switch-off{
  background-color: white;
}

table.lamps tr td.lamp-on{
  background-color: orange;
}
table.lamps tr td.lamp-off{
  background-color: white;
}

td.heading{
  background-color: lightpink;
}